<!DOCTYPE html>
<html>
  <head>
    <title>Sellingtime</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.5.0/polaris.min.css" />
  </head>

  <body>
    <div id='react-mount'></div>
    <%= yield %>
  </body>
</html>
